/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
html {
  scrollbar-width: none;
  box-sizing: border-box;
}
/* html,
body {
  overflow-x: hidden;
} */
/* @media (max-width: 500px) {
  html,
  body {
    overflow-x: hidden;
  }
} */

body {
  position: relative;
  font-family: "Open Sans", sans-serif;
  color: #444444;
  background-color: white;
  margin: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
  line-height: var(--bs-body-line-height);
}

body::-webkit-scrollbar {
  display: none;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: #106eea;
  text-decoration: none;
}

a:hover {
  color: #3b8af2;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}
/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
/* .swiper-pagination-bullet {
  width: 20px !important;
  height: 20px !important;
} */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 600px), (orientation: portrait) {
  .heroRow > div:nth-child(1) {
    /* color: red !important;
    outline: 2px solid red;
    display: flex;
    flex-direction: column;
    text-align: center; */
    justify-content: center;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) {
}
